<form action="/<%= location.id %>" method="post">

    <div class="input-group col col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <label for="name">Location:</label>
        <input type="text" class="form-control" name="name" placeholder="Please enter a location" value="<%= location.name %>" required>
    </div>

    <% if (location.id !== "") { %>
        <input type="hidden" name="_method" value="put">
        <div class="input-group col col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <label for="date">Date:</label>
            <input type="date" class="form-control" name="date" value="<%= location.date.toISOString().split('T')[0] %>" min="1888-01-01" max="2017-02-16" required>
        </div>
    <% } else { %>
        <div class="input-group col col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <label for="date">Date:</label>
            <input type="date" class="form-control" name="date" min="1888-01-01" max="2017-02-16" required>
        </div>
    <% } %>

    <div class="input-group col col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <label for="ndescriptioname">Description:</label>
        <textarea name="description" class="form-control" placeholder="Enter a description"><%= location.description %></textarea>
    </div>

    <div class="input-group col col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <label for="latitude">Latitude:</label>
        <input type="number" class="form-control" name="latitude" placeholder="Latitude" value="<%= location.latitude %>" step="any" min="-90" max="90">
    </div>

    <div class="input-group col col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <label for="longitude">Longitude:</label>
        <input type="number" class="form-control" name="longitude" placeholder="Longitude" value="<%= location.longitude %>" step="any" min="-180" max="180">
    </div>

    <div class="imagesWrapper input-group col col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <label for="images">Images:</label>
        <div class="input-group" name="images">
            <% for (let i = 0; i < location.images.length; i++) { %>
                <input type="text" class="form-control" name="image[<%= i %>]" placeholder="Add image" value="<%= location.images[i] %>">
                <span class="input-group-btn">
                    <button class="btn btn-default removeField" type="button">x</button>
                </span>
            <% } %>
        </div>
    </div>

    <div class="input-group col col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <input type="button" class="btn btn-default addImages" value="+"></input>
    </div>

    <input type="hidden" name="user" value="<%= locals.user.id %>">
    <input type="hidden" name="likes" value="0">

    <input type="submit" class="btn btn-default btn-lg" value="Add Chapter">
</form>

<script>
$(document).ready(function() {
    var maxFields = 10;
    var wrapper = $('.imagesWrapper');
    var addButton = $('.addImages');

    var x = <%= location.images.length %> - 1;
    $(addButton).click(function(e){
        e.preventDefault();
        if(x < maxFields){
            x++;
            $(wrapper).append('<div class="input-group"><input type="text" class="form-control" name="images[' + x + ']" placeholder="Add image" value="<%= location.images[' + x + '] %>"><span class="input-group-btn"><button class="btn btn-default removeField" type="button">x</button></span></div>');
        }
    });

    $(wrapper).on('click','.removeField', function(e){
        e.preventDefault();
        $(this).parent('span').parent('div').remove();
        x--;
    })
});
</script>
