<h1><%= title %></h1>
<h5><%= location.name %></h5>
<h5><%= location.date.toDateString() %></h5>
<p><%= location.description %></p>
<div id="coords" value="<%= location.latitude %>,<%= location.longitude %>"></div>
<div id="map" class="jumbotron"></div>

<% location.images.map((image, i) => { %>
    <img src="<%= image %>" alt="<%= location.name %> Image <%= i %>"</img>
<% }) %>

<div class="container">
    <div class="col col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-default">
        	<a href="/<%= location.id %>/edit">Rewrite Chapter</a>
        </button>
    </div>

    <div class="col col-sm-6 col-md-6 col-lg-6">
        <form action="/<%= location.id %>" method="post">
        	<input type="hidden" name="_method" value="delete">
        	<input type="submit" class="btn btn-default" value="Remove Chapter">
        </form>
    </div<
</div>
