<h1>Chapter</h1>
<h5><%= location.name %></h5>
<h5><%= location.date %></h5>
<p><%= location.description %></p>
<p><%= location.longitude, location.latitude %></p>

<% location.images.map((image, i) => { %>
    <img src="<%= image %>" alt="<%= location.name %> Image <%= image + i %>"</img>
<% }) %>
