<div id="coords" value="<%= location.latitude %>,<%= location.longitude %>"></div>

<div class="mapJumbotron jumbotron">
    <div id="overlay" class="overlay container">
        <button id="overlayToggle" type="button" class="active close" aria-label="Collapse">
            <span aria-hidden="true">x</span>
        </button>
        <h1><%= location.name %></h1>
        <h3><%= location.date.toDateString() %></h3>
        <p><%= location.description %></p>
    </div>
    <div id="map"></div>
</div>

<script>
    $('#overlayToggle').on('click', () => {
        $('#overlay').toggleClass('collapsed');
        $(this).text((i, current) => {
            return current === 'x' ?  'o' : 'x';
        });
    });
</script>

<% location.images.map((image, i) => { %>
    <div class="container">
        <img class="img-responsive" src="<%= image %>" alt="<%= location.name %> Image <%= i %>"</img>
    </div>
<% }) %>

<% if (locals.user && location.user.toString() === locals.user.id.toString()) { %>
    <div class="container">
        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-default btn-lg">
            	<a href="/<%= location.id %>/edit">Rewrite Chapter</a>
            </button>
        </div>

        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form action="/<%= location.id %>" method="post">
            	<input type="hidden" name="_method" value="delete">
            	<input type="submit" class="btn btn-default btn-lg" value="Remove Chapter">
            </form>
        </div<
    </div>
<% } %>
